extends layouts/main

block content
    .video-detail__container
        .video__player
            video(src=`/${video.fileUrl}`)
        .video__info
            a(href=routes.editVideo(video.id))
                button Edit video
            h5.video__title=video.title
            p.video__description=video.description
            span.video__views 조회수 #{video.views}
        .video__comments
            span.video__comment-number 댓글 #{video.comments.length} 